.purple{
 color: #A729F5;
}
.bgPurple{
background-color: #A729F5;
}
.pureWhite{
color: #ffffff
}

.darkNavy{

color: #313E51;
}

.greyNavy{
    color: #626C7F;
}

.lightGrey{
 color: #F4F6FA;
}

.navy{
color: #3B4D66;
}

.lightBluish{
color: #ABC1E1;
}

.green{
color: #26D782;
}

.red{
color: #EE5454;
}