.main{
    display: flex;
    justify-content: space-between;
}

.RetangleStartContainer{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.patternLight{
    box-sizing: border-box;
    display: block;
    z-index: -3;
    overflow: hidden;
    width: 100vw;
    left: 0;
    top: 0;
}

.link{
    color: black;
    text-decoration: none;
}