.divQuestion{
    width: 30rem;
}

.divQuestion > h3{
    margin-bottom: 2rem;
}

.divQuestion >h2{
    margin-bottom: 10rem;
}
.progressBar{
    width: 200px;
    height: 3px;
}

@media(max-width: 800px){
    .divQuestion >h2{
        margin-bottom: 2rem;
    }
    .divQuestion{
        width: 100%;
    }
}